<div class="channel-directory-container">

  <mat-card>

    <mat-card-title>
      Channel Directory
    </mat-card-title>

    <mat-card-content>
      <mat-list>

        <mat-list-item *ngFor="let channel of channels">

          <mat-icon matListIcon>
            domain
          </mat-icon>

          <h2 matLine>
            {{channel.name}}
          </h2>

        </mat-list-item>

      </mat-list>
    </mat-card-content>

  </mat-card>

  <div class="groupease-fab-container">
    <a mat-fab
       matTooltip="Create channel"
       routerLink="create">
      <mat-icon aria-label="Create channel">
        create
      </mat-icon>
    </a>
  </div>
</div>
