<div class="channel-directory-container">

  <h1>
    Channel Directory
  </h1>

  <mat-accordion>

    <mat-expansion-panel *ngFor="let channel of channels"
                         #channelPanel="matExpansionPanel">

      <mat-expansion-panel-header>

        <mat-icon matListIcon>
          domain
        </mat-icon>

        <span class="channel-panel-header">
          {{channel.name}}
        </span>

      </mat-expansion-panel-header>

      <mat-panel-description>
        {{channel.description}}
      </mat-panel-description>

      <ng-template matExpansionPanelContent>

        <div class="channel-panel-contents">

          <h2>
            Request Access to Channel
          </h2>

          <mat-form-field>

            <textarea matInput
                      name="description"
                      #comments
                      matTextareaAutosize
                      placeholder="Comments"></textarea>

            <mat-hint>
              Optional comments to channel owners
            </mat-hint>

          </mat-form-field>

          <mat-action-row>
            <button mat-button
                    (click)="channelPanel.close()">
              CLOSE
            </button>
            <button mat-button
                    color="primary"
                    (click)="sendJoinRequest(channel, channelPanel, comments.value)">
              SEND JOIN REQUEST
            </button>
          </mat-action-row>

        </div>

      </ng-template>

    </mat-expansion-panel>

  </mat-accordion>

  <div class="groupease-fab-container">
    <a mat-fab
       matTooltip="Create channel"
       routerLink="create">
      <mat-icon aria-label="Create channel">
        create
      </mat-icon>
    </a>
  </div>
</div>
