.user-list-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 20px;
}

.user-header {
  display: flex;
  align-items: center;
}

.user-avatar {
  margin: 8px 16px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.user-name {
  display: flex;
  align-items: center;
}
