<div class="channel-navigation-container">

  <mat-nav-list>

    <a routerLink="home"
       mat-list-item>
      <mat-icon matListIcon>
        home
      </mat-icon>
      <h2 matLine>
        Home
      </h2>
    </a>

    <a routerLink="members"
       mat-list-item>
      <mat-icon matListIcon>
        person
      </mat-icon>
      <h2 matLine>
        Members
      </h2>
    </a>

    <a routerLink="groups"
       mat-list-item>
      <mat-icon matListIcon>
        group
      </mat-icon>
      <h2 matLine>
        Groups
      </h2>
    </a>

    <a routerLink="admin"
       mat-list-item>
      <mat-icon matListIcon>
        settings
      </mat-icon>
      <h2 matLine>
        Admin
      </h2>
    </a>

  </mat-nav-list>

</div>
