<div class="dashboard-container">

  <mat-card>

    <mat-card-title>
      Dashboard
    </mat-card-title>

    <mat-card-content>

      <nav mat-tab-nav-bar>

        <a mat-tab-link
           routerLink="channels"
           routerLinkActive #channelsRoute="routerLinkActive"
           [active]="channelsRoute.isActive">
          Channels
        </a>

        <a mat-tab-link
           routerLink="invitations"
           routerLinkActive #invitationsRoute="routerLinkActive"
           [active]="invitationsRoute.isActive">
          Invitations
        </a>

      </nav>

      <router-outlet></router-outlet>

    </mat-card-content>

  </mat-card>

  <div class="groupease-fab-container">
    <a mat-fab
       matTooltip="Add channel"
       routerLink="/views/channel-directory">
      <mat-icon aria-label="Add channel">
        add
      </mat-icon>
    </a>
  </div>

</div>
