<!--
  https://material.angular.io/guide/theming
  If your app's content is not placed inside of a mat-sidenav-container element,
  you need to add the mat-app-background class to your wrapper element (for example the body).
  This ensures that the proper theme background is applied to your page.
-->
<div class="dashboard-container mat-app-background">

  <mat-list>

    <h1 mat-subheader>
      Member Channels
    </h1>

    <mat-list-item *ngFor="let channel of channels">

      <mat-icon matListIcon>
        domain
      </mat-icon>

      <h2 matLine>
        {{channel.name}}
      </h2>

    </mat-list-item>

  </mat-list>

</div>
