.join-request-list-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 20px;
}

.request-header {
  display: flex;
  align-items: center;
}

.requestor-avatar {
  margin: 8px 16px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.requestor-name {
  display: flex;
  align-items: center;
}
