/* Material prebuilt light themes. */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Material prebuilt dark themes. */
//@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
//@import '~@angular/material/prebuilt-themes/purple-green.css';

/* Ensure body at least full browser height. Set default font. */
body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Class to use on route components to ensure they fill the height. */
.groupease-view {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
