/* Include Angular Material theme. */
@import '~material-theme-config.scss';

/* Ensure body at least full browser height. */
body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

/* Ensure route components fill their height. */
.groupease-root,
.groupease-view {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

/* Padding, with more on bottom for potential FABs. */
.groupease-view {
  padding: 20px 20px 100px 20px;
}

.groupease-fab-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
